table{
    width: 100%;
    font-family: Chandas;
    border-collapse: collapse;
}
td,th{
    border: 2px solid black;
    padding: 10px;
}
th{
    color: #d10000;
}
td{
    color: #b76421;
}
h2{
    text-align: center;
    font-family: Chandas;
    color: midnightblue;
}
